html, body {
    background-color: #b9b9b9;
    margin: 0;
    padding: 0;
}
.main {
    width: 100vw;
    max-width: 700px;
    height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    box-shadow: 5px 0 5px -5px #595959, -5px 0 5px -5px #595959;
    overflow-y: scroll;
}

h1 {
    margin-top: 0;
}

.show {
    border: 1px solid black;
    margin: 2px 0;
    border-radius: 5px;
    display: flex;
}
.show .content {
    flex: 1;
    padding: 10px;
}
.show .header {
    display: flex;
}
.show .title {
    flex: 1;
}