:root {
    --content-background: #eeeeee;
}
.form-group {
    --border: 1px solid #cccccc;
}

html, body {
    background-color: #b9b9b9;
    margin: 0;
    padding: 0;
}
.main {
    width: 100vw;
    max-width: 700px;
    height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 10px;
    background-color: var(--content-background);
    box-shadow: 5px 0 5px -5px #595959, -5px 0 5px -5px #595959;
    overflow-y: auto;
}

h1 {
    margin-top: 0;
}

.spacer {
    flex: 1;
}
.filters {
    margin-bottom: 10px;
    display: flex;
}
.filters .form-group {
    display: inline-flex;
    align-items: center;
    height: 35px;
    border: var(--border);
    padding: 5px;
}
.filters .form-group + .form-group {
    margin-left: 10px;
}
.filters .form-group > input:not(:first-child) {
    margin-left: 20px;
}
.filters .form-group > label:last-child {
    margin-right: 10px;
}
.filters .search {
    display: inline-flex;
    align-items: center;
    background-color: #2925e6;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}
.show {
    border: 1px solid #000000;
    margin: 2px 0;
    border-radius: 5px;
    display: flex;
}
.show .poster {
    min-width: 92px;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dddddd;
}
.show .content {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.show .header {
    display: flex;
}
.show .title {
    flex: 1;
    font-weight: bold;
}
.show .body {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.show .toggleBlacklist {
    cursor: pointer;
}
.show .scraped {
    flex: 1;
}
.show .status {
    display: flex;
    height: 32px;
    align-items: center;
}
.show .status > .fas {
    width: 40px;
    text-align: center;
}

div.form-group {
    padding: 10px;
    border: var(--border);
    border-radius: 5px;
    position: relative;
    margin: 10px 0;
}
div.form-group + .form-group {
    margin-top: 20px;
}
div.form-group > .title {
    position: absolute;
    top: -10px;
    background: var(--content-background);
    padding: 0 5px;
    left: 5px;
}